<!DOCTYPE html>
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <%- include('../partials/sidebar') %>

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Notifications</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Notifications</li>
                </ol>
            </nav>
        </div>
        <section class="section dashboard">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="card top-selling overflow-auto">
                                <div class="card-body pb-0">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">From</th>
                                                <th scope="col">Club</th>
                                                <th scope="col">Title</th>
                                                <th scope="col">Request</th>
                                                <th scope="col">Details</th>
                                                <th scope="col">Result</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% notificationList.forEach(notificationList => { %>
                                            <tr>
                                                <td><%= notificationList.date %></td>
                                                <td><%= notificationList.time %></td>
                                                <td><%= notificationList.from.name %></td>
                                                <td><%= notificationList.from.club.name %></td>
                                                <td><%= notificationList.title %></td>
                                                <td><%= notificationList.request %></td>
                                                <td><%= notificationList.detail %></td>
                                                <% if (notificationList.status=="Approved") { %>
                                                    <td><span class="badge bg-success">Approved</span></td>
                                                <% }  else if(notificationList.status=="Rejected") { %>
                                                    <td><span class="badge bg-danger">Rejected</span></td>
                                                <% }  else { %>
                                                <td class="d-flex">
                                                <form method="post">
                                                <button name="approve" value="<%= notificationList._id %>" class="button-yes">Approve</button>
                                                <button name="reject" value="<%= notificationList._id %>" class="button-no">Reject</button>
                                                </form>
                                                </td>
                                                <% } %> 
                                            </tr>
                                        <% }) %>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
        </section>
    </main>
                <%- include('../partials/modal') %>
                    <%- include('../partials/footer') %>
                        <%- include('../partials/script') %>
    </body>

    </html>