<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <% if (auth=="Admin") { %>
      <a href="/admin/dashboard" class="logo d-flex align-items-center">
    <% } else {%>
      <a href="/manager/dashboard" class="logo d-flex align-items-center">
    <% } %>
      <img src="../../assets/img/logo.png" alt="logo">
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div>
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown">
        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header">
            Last 3 Notifications
            <% if (auth=="Admin") { %>
              <a href="/admin/notifications"><span class="badge rounded-pill p-2 ms-2"style="background-color: #09B3AD;">See more</span></a>
            <% } else {%>
              <a href="/manager/notifications"><span class="badge rounded-pill p-2 ms-2"style="background-color: #09B3AD;">See more</span></a>
            <% } %>
                
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <% notification.forEach(notification => { %>
          <li class="notification-item">
            <i class="bi bi-info-circle" style="color: #09B3AD;"></i>
            <div>
              <h6><%= notification.from.club.name %></h6>
              <p><%= notification.request %></p>
            </div>
          </li>
          <% }) %>
        </ul>
      </li>
      <!-- <li class="nav-item dropdown">
           <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
             <i class="bi bi-chat-left-text"></i>
             <span class="badge bg-success badge-number">1</span>
           </a>
           <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
             <li class="dropdown-header">
               You have 1 new messages
               <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
             </li>
             <li>
               <hr class="dropdown-divider">
             </li>
             <li class="message-item">
               <a href="#">
                 <img src="../../assets/img/messages-1.jpg" alt="" class="rounded-circle">
                 <div>
                   <h4>Maria Hudson</h4>
                   <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                   <p>4 hrs. ago</p>
                 </div>
               </a>
             </li>
             <li>
               <hr class="dropdown-divider">
             </li>
             <li class="message-item">
               <a href="#">
                 <img src="../../assets/img/messages-2.jpg" alt="" class="rounded-circle">
                 <div>
                   <h4>Anna Nelson</h4>
                   <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                   <p>6 hrs. ago</p>
                 </div>
               </a>
             </li>
             <li>
               <hr class="dropdown-divider">
             </li>
             <li class="message-item">
               <a href="#">
                 <img src="../../assets/img/messages-3.jpg" alt="" class="rounded-circle">
                 <div>
                   <h4>David Muldon</h4>
                   <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                   <p>8 hrs. ago</p>
                 </div>
               </a>
             </li>
             <li>
               <hr class="dropdown-divider">
             </li>
             <li class="dropdown-footer">
               <a href="#">Show all messages</a>
             </li>
           </ul>
         </li> -->
      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img src="../../assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2"><%= name %></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6><%= name %></h6>
            <span><%= auth %></span>
          </li>
          <li>
            <!-- <a class="dropdown-item d-flex align-items-center" href="/"> -->
            <a class="dropdown-item d-flex align-items-center" href="" data-bs-toggle="modal" data-bs-target="#logout">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>